---
import 'tom-select/dist/css/tom-select.css';
interface Props {
    maxSelectable: number;
    classes: string;
    dataValidationRequired: boolean;
    redirectToValue: boolean;
}

const { maxSelectable = 1, name = '', classes = '', dataValidationRequired = false, redirectToValue = false } = Astro.props;

const classNames = `selectbox ${classes}`;
---

<div class={classNames} data-js="selectbox" data-select-max-selectable={maxSelectable} data-redirect-to-value={redirectToValue}>
    <label>
        {dataValidationRequired ?
                <select name={name} data-validation-required autocomplete="off">
                    <slot />
                </select>
                <small class="validation-error-message">Required</small>
        :
                <select name={name} autocomplete="off">
                    <slot />
                </select>
        }
    </label>
</div>

<script>
    import {selectbox} from "@scripts/partials/selectbox";

    selectbox.init();
</script>